BO/lib/itaPHPInfor/test/JProtocolloServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.jprotocollo.jente.infor.arezzo.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.jprotocollo.jente.infor.arezzo.it/" name="JProtocolloServicesService">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="JProtocolloServices.xsd" namespace="http://webservices.jprotocollo.jente.infor.arezzo.it/"></xsd:import>
    </xsd:schema>
  </types>
  <message name="allegaDocumento">
    <part element="tns:allegaDocumento" name="parameters"></part>
  </message>
  <message name="allegaDocumentoResponse">
    <part element="tns:allegaDocumentoResponse" name="parameters"></part>
  </message>
  <message name="inserisciArrivo">
    <part element="tns:inserisciArrivo" name="parameters"></part>
  </message>
  <message name="inserisciArrivoResponse">
    <part element="tns:inserisciArrivoResponse" name="parameters"></part>
  </message>
  <message name="inserisciInterno">
    <part element="tns:inserisciInterno" name="parameters"></part>
  </message>
  <message name="inserisciInternoResponse">
    <part element="tns:inserisciInternoResponse" name="parameters"></part>
  </message>
  <message name="inserisciPartenza">
    <part element="tns:inserisciPartenza" name="parameters"></part>
  </message>
  <message name="inserisciPartenzaResponse">
    <part element="tns:inserisciPartenzaResponse" name="parameters"></part>
  </message>
  <message name="leggiProtocollo">
    <part element="tns:leggiProtocollo" name="parameters"></part>
  </message>
  <message name="leggiProtocolloResponse">
    <part element="tns:leggiProtocolloResponse" name="parameters"></part>
  </message>
  <message name="confermaSegnatura">
    <part element="tns:confermaSegnatura" name="parameters"></part>
  </message>
  <message name="confermaSegnaturaResponse">
    <part element="tns:confermaSegnaturaResponse" name="parameters"></part>
  </message>
  <message name="inviaProtocollo">
    <part element="tns:inviaProtocollo" name="parameters"></part>
  </message>
  <message name="inviaProtocolloResponse">
    <part element="tns:inviaProtocolloResponse" name="parameters"></part>
  </message>
  <message name="leggiAllegato">
    <part element="tns:leggiAllegato" name="parameters"></part>
  </message>
  <message name="leggiAllegatoResponse">
    <part element="tns:leggiAllegatoResponse" name="parameters"></part>
  </message>
  <portType name="JProtocolloServices">
    <operation name="allegaDocumento">
      <input message="tns:allegaDocumento"></input>
      <output message="tns:allegaDocumentoResponse"></output>
    </operation>
    <operation name="inserisciArrivo">
      <input message="tns:inserisciArrivo"></input>
      <output message="tns:inserisciArrivoResponse"></output>
    </operation>
    <operation name="inserisciInterno">
      <input message="tns:inserisciInterno"></input>
      <output message="tns:inserisciInternoResponse"></output>
    </operation>
    <operation name="inserisciPartenza">
      <input message="tns:inserisciPartenza"></input>
      <output message="tns:inserisciPartenzaResponse"></output>
    </operation>
    <operation name="leggiProtocollo">
      <input message="tns:leggiProtocollo"></input>
      <output message="tns:leggiProtocolloResponse"></output>
    </operation>
    <operation name="confermaSegnatura">
      <input message="tns:confermaSegnatura"></input>
      <output message="tns:confermaSegnaturaResponse"></output>
    </operation>
    <operation name="inviaProtocollo">
      <input message="tns:inviaProtocollo"></input>
      <output message="tns:inviaProtocolloResponse"></output>
    </operation>
    <operation name="leggiAllegato">
      <input message="tns:leggiAllegato"></input>
      <output message="tns:leggiAllegatoResponse"></output>
    </operation>
  </portType>
  <binding name="JProtocolloServicesPortBinding" type="tns:JProtocolloServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="allegaDocumento">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="inserisciArrivo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="inserisciInterno">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="inserisciPartenza">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="leggiProtocollo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="confermaSegnatura">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="inviaProtocollo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="leggiAllegato">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="JProtocolloServicesService">
    <port name="JProtocolloServicesPort" binding="tns:JProtocolloServicesPortBinding">
      <soap:address location="http://localhost:8081/jEnte/JProtocolloServices"></soap:address>
    </port>
  </service>
</definitions>