BO/lib/itaPHPHWS/HprotoWS.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://hproto.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hproto.me.org/" name="HProtoWS">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://hproto.me.org/" schemaLocation="http://localhost/HProtoWS/HProtoWS.xsd"/>
        </xsd:schema>
    </types>
    <message name="add">
        <part name="parameters" element="tns:add"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse"/>
    </message>
    <message name="hello">
        <part name="parameters" element="tns:hello"/>
    </message>
    <message name="helloResponse">
        <part name="parameters" element="tns:helloResponse"/>
    </message>
    <message name="CercaDocumentoProtocollo">
        <part name="parameters" element="tns:CercaDocumentoProtocollo"/>
    </message>
    <message name="CercaDocumentoProtocolloResponse">
        <part name="parameters" element="tns:CercaDocumentoProtocolloResponse"/>
    </message>
    <message name="ProtocollazioneUscita">
        <part name="parameters" element="tns:ProtocollazioneUscita"/>
    </message>
    <message name="ProtocollazioneUscitaResponse">
        <part name="parameters" element="tns:ProtocollazioneUscitaResponse"/>
    </message>
    <message name="ProtocollazioneIngresso">
        <part name="parameters" element="tns:ProtocollazioneIngresso"/>
    </message>
    <message name="ProtocollazioneIngressoResponse">
        <part name="parameters" element="tns:ProtocollazioneIngressoResponse"/>
    </message>
    <message name="SalvaVoceRubrica">
        <part name="parameters" element="tns:SalvaVoceRubrica"/>
    </message>
    <message name="SalvaVoceRubricaResponse">
        <part name="parameters" element="tns:SalvaVoceRubricaResponse"/>
    </message>
    <message name="addAddressbookEntry">
        <part name="parameters" element="tns:addAddressbookEntry"/>
    </message>
    <message name="addAddressbookEntryResponse">
        <part name="parameters" element="tns:addAddressbookEntryResponse"/>
    </message>
    <message name="getAddressbookEntry">
        <part name="parameters" element="tns:getAddressbookEntry"/>
    </message>
    <message name="getAddressbookEntryResponse">
        <part name="parameters" element="tns:getAddressbookEntryResponse"/>
    </message>
    <message name="getAddressBook">
        <part name="parameters" element="tns:getAddressBook"/>
    </message>
    <message name="getAddressBookResponse">
        <part name="parameters" element="tns:getAddressBookResponse"/>
    </message>
    <message name="uploadAttachment">
        <part name="parameters" element="tns:uploadAttachment"/>
    </message>
    <message name="uploadAttachmentResponse">
        <part name="parameters" element="tns:uploadAttachmentResponse"/>
    </message>
    <message name="downloadAttachment">
        <part name="parameters" element="tns:downloadAttachment"/>
    </message>
    <message name="downloadAttachmentResponse">
        <part name="parameters" element="tns:downloadAttachmentResponse"/>
    </message>
    <message name="TestNestedClass">
        <part name="parameters" element="tns:TestNestedClass"/>
    </message>
    <message name="TestNestedClassResponse">
        <part name="parameters" element="tns:TestNestedClassResponse"/>
    </message>
    <message name="CercaRubrica">
        <part name="parameters" element="tns:CercaRubrica"/>
    </message>
    <message name="CercaRubricaResponse">
        <part name="parameters" element="tns:CercaRubricaResponse"/>
    </message>
    <portType name="HProtoWS">
        <operation name="add">
            <input wsam:Action="http://hproto.me.org/HProtoWS/addRequest" message="tns:add"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/addResponse" message="tns:addResponse"/>
        </operation>
        <operation name="hello">
            <input wsam:Action="http://hproto.me.org/HProtoWS/helloRequest" message="tns:hello"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/helloResponse" message="tns:helloResponse"/>
        </operation>
        <operation name="CercaDocumentoProtocollo">
            <input wsam:Action="http://hproto.me.org/HProtoWS/CercaDocumentoProtocolloRequest" message="tns:CercaDocumentoProtocollo"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/CercaDocumentoProtocolloResponse" message="tns:CercaDocumentoProtocolloResponse"/>
        </operation>
        <operation name="ProtocollazioneUscita">
            <input wsam:Action="http://hproto.me.org/HProtoWS/ProtocollazioneUscitaRequest" message="tns:ProtocollazioneUscita"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/ProtocollazioneUscitaResponse" message="tns:ProtocollazioneUscitaResponse"/>
        </operation>
        <operation name="ProtocollazioneIngresso">
            <input wsam:Action="http://hproto.me.org/HProtoWS/ProtocollazioneIngressoRequest" message="tns:ProtocollazioneIngresso"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/ProtocollazioneIngressoResponse" message="tns:ProtocollazioneIngressoResponse"/>
        </operation>
        <operation name="SalvaVoceRubrica">
            <input wsam:Action="http://hproto.me.org/HProtoWS/SalvaVoceRubricaRequest" message="tns:SalvaVoceRubrica"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/SalvaVoceRubricaResponse" message="tns:SalvaVoceRubricaResponse"/>
        </operation>
        <operation name="addAddressbookEntry">
            <input wsam:Action="http://hproto.me.org/HProtoWS/addAddressbookEntryRequest" message="tns:addAddressbookEntry"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/addAddressbookEntryResponse" message="tns:addAddressbookEntryResponse"/>
        </operation>
        <operation name="getAddressbookEntry">
            <input wsam:Action="http://hproto.me.org/HProtoWS/getAddressbookEntryRequest" message="tns:getAddressbookEntry"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/getAddressbookEntryResponse" message="tns:getAddressbookEntryResponse"/>
        </operation>
        <operation name="getAddressBook">
            <input wsam:Action="http://hproto.me.org/HProtoWS/getAddressBookRequest" message="tns:getAddressBook"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/getAddressBookResponse" message="tns:getAddressBookResponse"/>
        </operation>
        <operation name="uploadAttachment">
            <input wsam:Action="http://hproto.me.org/HProtoWS/uploadAttachmentRequest" message="tns:uploadAttachment"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/uploadAttachmentResponse" message="tns:uploadAttachmentResponse"/>
        </operation>
        <operation name="downloadAttachment">
            <input wsam:Action="http://hproto.me.org/HProtoWS/downloadAttachmentRequest" message="tns:downloadAttachment"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/downloadAttachmentResponse" message="tns:downloadAttachmentResponse"/>
        </operation>
        <operation name="TestNestedClass">
            <input wsam:Action="http://hproto.me.org/HProtoWS/TestNestedClassRequest" message="tns:TestNestedClass"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/TestNestedClassResponse" message="tns:TestNestedClassResponse"/>
        </operation>
        <operation name="CercaRubrica">
            <input wsam:Action="http://hproto.me.org/HProtoWS/CercaRubricaRequest" message="tns:CercaRubrica"/>
            <output wsam:Action="http://hproto.me.org/HProtoWS/CercaRubricaResponse" message="tns:CercaRubricaResponse"/>
        </operation>
    </portType>
    <binding name="HProtoWSPortBinding" type="tns:HProtoWS">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="add">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="hello">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="CercaDocumentoProtocollo">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="ProtocollazioneUscita">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="ProtocollazioneIngresso">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="SalvaVoceRubrica">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="addAddressbookEntry">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getAddressbookEntry">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getAddressBook">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="uploadAttachment">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="downloadAttachment">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="TestNestedClass">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="CercaRubrica">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HProtoWS">
        <port name="HProtoWSPort" binding="tns:HProtoWSPortBinding">
            <soap12:address location="http://localhost:8080/HProtoWSApplication/HProtoWS"/>
        </port>
    </service>
</definitions>